//-------------- SECTIONS -----------
.about-page {
    min-height: 100vh;
    background-color: var(--clr-bg-drk);
   
}

.about-hr {
    border: 1px solid rgb(58, 60, 60);
}

.footer-hr{
    margin-bottom: -10rem !important;
    border: 1px solid var(--clr-txt-wht);
}




//-------------- TITLES SECTION -----------
.white {
    color: var(--clr-txt-wht) !important;
}



//-------------- IMG-----------
.about-img {
    border-radius: 4%;   
}

