//-------------- SECTIONS -----------
.form-box{
    border: 0.5px solid var(  --clr-border-form);
    max-width: 70rem;
}
//-------------- TEXT BOX PARTS -----------

.contact-page-title {
    font-family: var(--ft-title-space);
    font-weight: 800 ;
   
}


.contact-page-subText {
    font-family: var(--ft-text-jura);
    font-weight: 200;
}