//-------------- SECTIONS -----------
.black-bg-section {
    background-color: black;
}

.sell-page-subText-white {
    font-family: var(--ft-text-jura);
    font-weight: 200;
    color: var(--clr-txt-wht);
}

.text-white{
    color: var(--clr-txt-wht);
}

