//-------------- TEXT BOX SECTIONS -----------





//-------------- TEXT BOX PARTS -----------

.sell-page-title {
    font-family: var(--ft-title-space);
    font-weight: 800 ;
   
}


.sell-page-subText {
    font-family: var(--ft-text-jura);
    font-weight: 200;
}