
.mySwiper {
    width: 24rem;
    height: 36.5rem; 
    
}

.shopVisuals-page-swiper-section {
margin-top: 2rem;
margin-bottom: 2rem;

}


//-------------- SWIPER SECTION -----------
.shopVisuals-swiper-box {
    margin:  0px 2rem  2rem 2rem;
    padding: 2rem;
   
}


//--------- SLIDE 1 ---------
.swiper-box-border {
    border: 1px solid var(--clr-btn-contact);
    // border-radius: var(--border-r2);
    
}

.slide-1-product-title {
font-family: var(--ft-minimalist-title);
font-size: var(--font-size-34);
letter-spacing: 1px;
}

.slide-1-product-text {
    font-family: var(--ft-minimalist-text);
    font-size: var(--font-size-20);
    text-transform: uppercase;
}

.slide-1-source {
    font-family: var(--ft-text-jura);
    font-size: var(--font-size-13);
    font-weight: 100;
    
}

.shopVisuals-artist-link {
    font-family: var(--ft-text-jura);
    font-size: var(--font-size-13);
    font-weight: 100;
    
}

.shopVisuals-unsplash-link {
    font-family: var(--ft-minimalist-text);
    font-size: var(--font-size-13);
    font-weight: 100;
    
}

.light {
    color: #ede068;
}


//--------- SLIDE 2 ---------

.swiper-box-shadow {
    box-shadow: var(--dark-shadow);
    
}

 .shopVisuals-swiper-divider-shadow {
      width: 5rem ;
    margin-top: 1.5rem !important;
    border-top: 1px solid black;
 }

 .shopVisuals-image-slide2 {
    border-radius: var(--border-r4);
 }

.slide-2-product-title {
    font-family: var(--ft-shadow-title);
    font-size: var(--font-size-25);
    
}

.slide-2-product-text {
    font-family: var(--ft-shadow-text);
    font-size: var(--font-size-22);
}

//--------- SLIDE 3 ---------

.swiper-box-neon {
    box-shadow: var(--light-shadow-zil);
    background-color: #000f26;
    border-radius: 5px 50px 5px 50px  ;
    border: 1px solid #00ccb4;
    
}

.shopVisuals-image-slide3 {
    border-radius: 5px 50px 5px 50px  ;
}

.shopVisuals-image-slide3-reverse{
    border-radius: 50px 5px 50px 5px  ;
}

.slide-3-product-title {
    font-family: var(--ft-neon-title);
    font-size: var(--font-size-24);
    padding:8px 20px 8px 20px !important ;
    background-color: #32245e !important;
    border: 1px solid #d9d8d8 !important;
    border-radius: var(--border-r1) !important;
    // box-shadow: var(--dark-shadow-zil);
    color: #e4e5e9 ;
    box-shadow: #009987 0px 18px 50px -10px;
}

.slide-3-product-text {
    font-family: var(--ft-neon-text);
    font-size: var(--font-size-24);
    color: #00ccb4;
   
}

//--------- SLIDE 4 ACIDULOUS ---------

.swiper-box-acid {
    
    background-color: #ede734 !important;
    border-radius: 0px 0px 50px 50px  ;
    // border: 1px solid #00ccb4;
  
    
}

.colorful {
    color: #f9221b;
}


.slide-4-product-title {
    font-family: var(--ft-acid-title);
    font-size: var(--font-size-24);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -1.5px;
    color: #1b1c1e  ;
}

.slide-4-product-text {
    font-family: var(--ft-acid-text);
    font-size: var(--font-size-24);
    text-transform: uppercase;
    color: #e4e5e9;
    padding:25px 50px 25px 50px !important ;
    width: 17rem !important;
    background-color: rgb(255, 85, 85) !important;
    border: 1.5px solid #d9d8d8 !important;
    border-radius: 0px !important;
   
}

.slide-4-img {
    margin-top: 0.5rem;
    margin-right: 0.11rem;
    // box-shadow: 0px 2px 4px 0px inset hsl(26, 100%, 57%) ;
    box-shadow:  rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}


//--------- SLIDE 5 META ---------

.swiper-box-meta {
    background-image: url("../../dist/img/background-blur.png");
    border: 0px;
    border-radius: var(--border-r1); 
    
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    height: 4rem;
    width: 100%;
    
  
}

.slide-5-product-title-div {
    background-color: #090f17;
    border: 2px solid #f642d5;
    border-radius: var(--border-r4);
    margin-top: -1rem;
    margin-bottom: 2rem;
}


.slide-5-product-title {
  font-family: var(--ft-meta-title);
  font-size: var(--font-size-26);
  letter-spacing: 1px;
  font-weight: 600;
  color: #3c6dff;
}

.slide-5-product-text {
    font-family: var(--ft-meta-text);
    font-size: var(--font-size-20);
    font-weight: 400;
    color: #FBE7B2;
}





//--------- SLIDE &More ---------
.and-more {
    background-color: #000f26;
}





//--------- COPYRIGHT MENTION ------
.shopVisuals-page-copyright-mention {
    font-family: var(--ft-text-jura);
    font-size: var(--font-size-12);
    font-weight: 100;
}