//-------------- BULLET POINT SECTION -----------

.landing-page-bullet-div1 {
    margin-top: -2rem !important;
} 
    .bulletPoint-item {
        font-family: var(--ft-text-jura);
       
        font-weight: 400;
        text-transform:capitalize; 
    }

