.cookie-text-click {
font-family: var(--ft-neon-title);
font-size: var(--font-size-14);
text-transform: lowercase;
cursor: grab;
color: var( --clr-btn-contact-dark);

}

.footer-page {
    margin-top: 5rem;
    margin-bottom: 2rem;
}