/*------------------ GLOBAL PART  ------------------*/
.getYours-section {
    width: 100%;
    height: fit-content;
    background-color: var(--clr-bg-drk) ;
    
    margin-top: 10rem;
    margin-bottom: 1rem;
}




/*------ TITLES AND TEXTS ----*/
.getYours-text {
    font-family: var( --ft-btn-syncopate);
    color: var(--clr-txt-wht);
    font-weight: 600;
    text-transform: uppercase;
}