/*----------------------------- LOGO CUSTOMIZE  ---------------------*/

.landing-page-navbar-logo {
font-family: var(--ft-title-space);
font-weight: 700;
}

/*----------------------------- MENU CUSTOMIZE  ---------------------*/


.menu-item {
    font-family: var(--ft-btn-syncopate);
    color: var(--clr-txt-wht) !important;
    font-weight: 700;
    text-transform: capitalize;
}

