//-------------- TEXT BOX SECTIONS -----------
.sell-textBox-main-section-right {
    margin-left: auto;
    height: fit-content;
  }
  
  .sell-textBox-section-upTitle-right {
    text-align: right;
  }
  
  .sell-textBox-section-title-right {
    
    text-align: right;  
  }
  
  .sell-textBox-section-text-right {
    text-align: right;
    margin-left: 40%;
  }
  
  
  
  //-------------- TEXT BOX PARTS -----------
  .sell-textBox-upTitle-right {
    font-family: var(--ft-text-jura);
    font-weight: 600;
    text-transform: uppercase;
  }
  

  
  .sell-textBox-text-right {
    font-family: var(--ft-text-jura);
    font-weight: 200;
  
  }
  
  .sell-textBox-line-right {
    margin-left: auto;
    margin-right: 0rem;
    width: 7rem;
    border-color: var(--clr-txt-blk);
    border: 1px solid #080808;
  }
  