//-------------- TEXT BOX SECTIONS -----------
.textBox-main-section-left {
    margin-right: auto;
    margin-top: 7rem;
    margin-bottom: 7rem;
    height: fit-content;
  }
  
  .textBox-section-upTitle-left {
    text-align: left;
  }
  
  .textBox-section-title-left {
    text-align: left; 
    margin-right: 20%;
  }
  
  .textBox-section-text-left {
    text-align: left;
    margin-right: 40%;
  }
  
  .textBox-line-left {
    margin-left: 0rem;
    margin-right: auto;
    width: 7rem;
    border-color: var(--clr-txt-blk);
    border: 1px solid black;
  }
  