/* import-FONTS FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&family=Syncopate:wght@400;700&family=Unica+One&display=swap');




/*----------------------------- FONTS FAMILY ------------------------*/
:root {
  --ft-title-space: 'Space Grotesk', sans-serif;
  --ft-subtitle-istok: 'Istok Web', sans-serif;
  --ft-keyword-unica: 'Unica One', cursive;
  --ft-text-jura: 'Jura', sans-serif;
  --ft-btn-syncopate: 'Syncopate', sans-serif;
}

